<div class="block-title">서비스 소개</div>
<div class="card">
  <div class="card-content card-content-padding">
    D-Membership 제도로 동국총학과 제휴를 맺은 매장뿐만 아니라,
    동국대학교 재학생들이 이용할 수 있는 각종 혜택을 한눈에 모아볼 수 있는 서비스입니다.
  </div>
  <div class="card-footer">
    <small>
      * 본 사이트의 서버 비용을 개발자 사비로 부담하고 있어 부득이하게 페이지 하단에 광고를 삽입했습니다. 학우분들의 너른 양해 부탁드립니다.</small>
  </div>
</div>

<div class="block-title">D-Membership 제도란?</div>
<div class="card">
  <div class="card-content card-content-padding">
    동국대학교 학생이라면 누구나 학생증만 제시하면 즉시 할인을 받을 수 있는 제도입니다.<br>
    매장 내/외부에 부착된 디멤버십 스티커를 확인해주세요.<br>
  </div>
  <div class="card-footer">
    <small>* 디멤버십 제도는 동국대학교 제53대 총학생회 '도약'에서 진행하는 사업입니다.</small>
  </div>
</div>

<div class="block-title">문의하기</div>
<div class="card">
  <div class="card-content card-content-padding">
    <p>
      * D-Membership 제도 관련 문의<br>
      <span class="padding-left-half">
        <a class="link external" href="http://pf.kakao.com/_BxkESj" target="_blank">동국총학 카카오톡 채널</a>
      </span>
    </p>
    <p>
      * 서비스 관련 문의(정보 오류, 서비스 개선 요청 등)<br>
      <span class="padding-left-half">
        <a class="link external" href="mailto:juyeonglee0413@gmail.com?subject=D-Map 문의" target="_blank">개발자에게 이메일 보내기</a>
      </span>
    </p>
  </div>
</div>

<div class="margin-top padding-top">
  <ins class="kakao_ad_area"
   data-ad-unit    = "DAN-D5A0GqVVOWaLtlD2"
   data-ad-width   = "320"
   data-ad-height  = "100"></ins>
</div>

<div class="block-footer margin-top">
  <p class="text-align-center">
    Last updated: 2021/09/04<br>
    Copyright &copy; 2021 Juyeong Lee
  </p>
</div>
