<div class="navbar">
  <div class="navbar-bg"></div>
  <div class="navbar-inner sliding">
    <div class="left"></div>
    <div class="title">D-Map</div>
    <div class="right"></div>
  </div>
</div>
