<div class="page" style="z-index: 200;">
  <div class="page-content" style="top: 20%;">
    <div class="block">
      <div class="text-align-center">
        <div class="block-title">✨ D-Map 클로즈 베타 테스트 ✨</div>

        <div class="block"></div>

        <p class="text-align-center">
          2021. 07. 24 (토) 00시 00분<br>
          ~<br>
          2021. 07. 25 (일) 23시 59분<br>
        </p>

        <div class="block"></div>
        현재 테스트 기간이 아닙니다.<br>
      </div>
    </div>
  </div>
</div>
