<div class="page page-with-subnavbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="subnavbar">
        <!-- Searchbar inside of Subnavbar -->
        <form class="searchbar searchbar-init" data-search-container=".list" data-search-in=".item-title" style="width: 100%;">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="검색어를 입력하세요..." />
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button if-not-aurora">취소</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="block searchbar-hide-on-search">
      <p>
        제휴 업체 또는 매장 이름으로 검색 가능합니다.
        선택 시 해당 업체에 대한 혜택 상세 팝업이 표시됩니다.
      </p>
    </div>
    <div class="list searchbar-found">
      <ul>

        <div class="list-group">
            <li class="list-group-title">A</li>
            <li class="item-link item-content popup-open" data-popup=".demo-popup">
              <div class="item-inner">
                <div class="item-title"><a class="popup-open" href="#" data-popup=".popup-push">Acura</a></div>
              </div>
            </li>
            <li class="item-link item-content popup-open" data-popup=".demo-popup-2">
              <div class="item-inner">
                <div class="item-title">Audi</div>
              </div>
            </li>
        </div>

        <div class="list-group">
          <li class="list-group-title">B</li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title">BMW</div>
            </div>
          </li>
        </div>

        <div class="list-group">
          <li class="list-group-title">C</li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title">Cadillac</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title">Chevrolet</div>
            </div>
          </li>
          <li class="item-content">
            <div class="item-inner">
              <div class="item-title">Chrysler</div>
            </div>
          </li>
        </div>

        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Dodge</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Ferrari</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Ford</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">GMC</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Honda</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Hummer</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Hyundai</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Infiniti</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Isuzu</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Jaguar</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Jeep</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Kia</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lamborghini</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Land Rover</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lexus</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lincoln</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Lotus</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mazda</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mercedes-Benz</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mercury</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Mitsubishi</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Nissan</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Oldsmobile</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Peugeot</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Pontiac</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Porsche</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Regal</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Saab</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Saturn</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Subaru</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Suzuki</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Toyota</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Volkswagen</div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title">Volvo</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="block searchbar-not-found">
      <div class="block-inner">검색 결과가 없습니다.</div>
    </div>
  </div>

  <!-- Searchbar backdrop layer -->
  <div class="searchbar-backdrop"></div>
</div>

<div class="popup popup-push"s>
  <div class="block">
    <p>Popup Push</p>
    <p><a class="link popup-close" href="#">Close popup</a></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc.
      Quisque sodales scelerisque est, at porta justo cursus ac. Integer vitae quam a ante lobortis lobortis. Nam
      vehicula sagittis quam, sit amet congue purus consequat sed. Maecenas eget mattis lectus. Aliquam luctus
      luctus leo ac fringilla. Sed nec eros vel purus tincidunt tincidunt in in orci. Sed tellus neque,
      pellentesque
      nec metus id, congue elementum odio. Donec turpis tellus, mollis ac leo eget, accumsan fermentum lorem.
      Aliquam et elementum neque. Vestibulum sed egestas ipsum.</p>
  </div>
</div>

<div class="popup demo-popup">
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">Popup Title</div>
        <div class="right"><a href="#" class="link popup-close">Close</a></div>
      </div>
    </div>
    <div class="page-content">
      <div class="block">
        <p>Here comes popup. You can put here anything, even independent view with its own navigation. Also not,
          that by default popup looks a bit different on iPhone/iPod and iPad, on iPhone it is fullscreen.</p>
      </div>
    </div>
  </div>
</div>

<div class="popup demo-popup-2">
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">Popup Title 2</div>
        <div class="right"><a href="#" class="link popup-close">Close 2</a></div>
      </div>
    </div>
    <div class="page-content">
      <div class="block">
        <p>Here comes popup. You can put here anything, even independent view with its own navigation. Also not,
          that by default popup looks a bit different on iPhone/iPod and iPad, on iPhone it is fullscreen.</p>
      </div>
    </div>
  </div>
</div>

<script type="module">
  export default (props, { $f7, $on }) => {
    $on('pageInit', () => {
      // create searchbar
      var searchbar = $f7.searchbar.create({
        el: '.searchbar',
        searchContainer: '.list',
        searchIn: '.item-title',
        on: {
          search(sb, query, previousQuery) {
            console.log(query, previousQuery);
          },
          enable: function () {
            console.log('Searchbar enabled');
          }
        }
      });
    })

    return $render;
  }
</script>
