<div class="block-title">서비스 소개</div>
<div class="card">
  <div class="card-content card-content-padding">
    D-Membership 제도로 동국총학과 제휴를 맺은 매장뿐만 아니라,
    동국대학교 재학생들이 이용할 수 있는 각종 혜택을 한눈에 모아볼 수 있는 서비스입니다.
  </div>
</div>

<div class="block-title">D-Membership 제도란?</div>
<div class="card">
  <div class="card-content card-content-padding">
    동국대학교 학생이라면 누구나 학생증만 제시하면 즉시 할인을 받을 수 있는 제도입니다.<br>
    매장 내/외부에 부착된 디멤버십 스티커를 확인해주세요.<br>
  </div>
  <div class="card-footer">
    <small>* 본 제도는 동국대학교 제53대 총학생회 '도약'에서 진행하는 사업입니다.</small>
  </div>
</div>

<div class="block-title">문의하기</div>
<div class="card">
  <div class="card-content card-content-padding">
    <p>
      * D-Membership 제도 관련 문의<br>
      <span class="padding-left-half">
        <a href="http://pf.kakao.com/_BxkESj" target="_blank">동국총학 카카오톡 채널</a>
      </span>
    </p>
    <p>
      * 서비스 관련 문의(정보 오류, 서비스 개선 요청 등)<br>
      <span class="padding-left-half">
        <a href="mailto:juyeonglee0413@gmail.com">개발자에게 이메일 보내기</a>
      </span>
    </p>
  </div>
</div>

<div class="block-footer margin-top">
  <p class="text-align-center">
    v1.0.0<br>
    Last updated: 2020/07/19<br>
    Copyright &copy; 2021 Juyeong Lee
  </p>
</div>
