<div class="page">
  <div class="page-content">
    <div class="searchbar-backdrop"></div>
    <!-- Searchbar with "searchbar-init" class for auto initialization and searchContainer, searchIn parameters passed in data- attributes  -->
    <form class="searchbar searchbar-init" data-search-container=".list" data-search-item="li" data-search-in=".item-title">
      <div class="searchbar-inner">
        <div class="searchbar-input-wrap">
          <input type="search" placeholder="Search" />
          <i class="searchbar-icon"></i>
          <span class="input-clear-button"></span>
        </div>
        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
      </div>
    </form>

    <!-- Following block title and block will be hidden on search -->
    <div class="block-title searchbar-hide-on-search">Some block title</div>
    <div class="block">Lorem ipsum dolor sit amet...</div>

    <!-- We do search in super heroes list so the following title and list must be visible on search -->
    <div class="block-title searchbar-found">Super Heroes</div>
    <div class="list simple-list searchbar-found">
      <ul>
        <li class="item-title"><a class="popup-open" href="#" data-popup=".popup-push">Acura</a></li>
        <li>Audi</li>
        <li>BMW</li>
        <li>Cadillac</li>
        <li>Chevrolet</li>
        <li>Chrysler</li>
        <li>Dodge</li>
        <li>Ferrari</li>
        <li>Ford</li>
        <li>GMC</li>
        <li>Honda</li>
        <li>Hummer</li>
        <li>Hyundai</li>
        <li>Infiniti</li>
        <li>Isuzu</li>
        <li>Jaguar</li>
        <li>Jeep</li>
        <li>Kia</li>
        <li>Lamborghini</li>
        <li>Land Rover</li>
        <li>Lexus</li>
        <li>Lincoln</li>
        <li>Lotus</li>
        <li>Mazda</li>
        <li>Mercedes-Benz</li>
        <li>Mercury</li>
        <li>Mitsubishi</li>
        <li>Nissan</li>
        <li>Oldsmobile</li>
        <li>Peugeot</li>
        <li>Pontiac</li>
        <li>Porche</li>
        <li>Regal</li>
        <li>Saab</li>
        <li>Saturn</li>
        <li>Subaru</li>
        <li>Suzuki</li>
        <li>Toyota</li>
        <li>Volkswagen</li>
        <li>Volvo</li>
      </ul>
    </div>

    <!-- This list will be visible when there is not any search results -->
    <div class="list simple-list searchbar-not-found">
      <ul>
        <li>Nothing found</li>
      </ul>
    </div>
  </div>
</div>

  <div class="popup popup-push">
    <div class="block">
      <p>Popup Push</p>
      <p><a class="link popup-close" href="#">Close popup</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac diam ac quam euismod porta vel a nunc.
        Quisque sodales scelerisque est, at porta justo cursus ac. Integer vitae quam a ante lobortis lobortis. Nam
        vehicula sagittis quam, sit amet congue purus consequat sed. Maecenas eget mattis lectus. Aliquam luctus
        luctus leo ac fringilla. Sed nec eros vel purus tincidunt tincidunt in in orci. Sed tellus neque,
        pellentesque
        nec metus id, congue elementum odio. Donec turpis tellus, mollis ac leo eget, accumsan fermentum lorem.
        Aliquam et elementum neque. Vestibulum sed egestas ipsum.</p>
    </div>
  </div>

<script type="module">
  export default (props, { $f7, $on }) => {
    $on('pageInit', () => {
      // create searchbar
      var searchbar = $f7.searchbar.create({
        el: '.searchbar',
        searchContainer: '.list',
        searchIn: '.item-title',
        on: {
          search(sb, query, previousQuery) {
            console.log(query, previousQuery);
          }
        }
      });
    })

    return $render;
  }
</script>
